ComidasYa_Winforms/Service References/ComidasYaWebService/ComidasYaWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Ingreso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pNombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IngresoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IngresoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IngresoSoapIn">
    <wsdl:part name="parameters" element="tns:Ingreso" />
  </wsdl:message>
  <wsdl:message name="IngresoSoapOut">
    <wsdl:part name="parameters" element="tns:IngresoResponse" />
  </wsdl:message>
  <wsdl:portType name="ComidasYaWebServiceSoap">
    <wsdl:operation name="Ingreso">
      <wsdl:input message="tns:IngresoSoapIn" />
      <wsdl:output message="tns:IngresoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComidasYaWebServiceSoap" type="tns:ComidasYaWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ingreso">
      <soap:operation soapAction="http://tempuri.org/Ingreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComidasYaWebServiceSoap12" type="tns:ComidasYaWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ingreso">
      <soap12:operation soapAction="http://tempuri.org/Ingreso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ComidasYaWebService">
    <wsdl:port name="ComidasYaWebServiceSoap" binding="tns:ComidasYaWebServiceSoap">
      <soap:address location="http://localhost:57088/ComidasYaWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ComidasYaWebServiceSoap12" binding="tns:ComidasYaWebServiceSoap12">
      <soap12:address location="http://localhost:57088/ComidasYaWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>